<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admereselvyn.mic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Mic">
        <activity android:name=".OnBoardingScreen5"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingScreen4"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingScreen3"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingScreen2"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingScreen1"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingScreen"
            android:theme="@style/Base.Theme.Mic"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>